---
layout: default
title: Downloads
---

{% for post in site.tags.downloads %}
  <div class="post-container">
    <div class="post">
      <h2 class="post-title">{{ post.title }}</h2>
      <div class="post-date">{{ post.date | date_to_string }}</div>
      <div class="post-author">{{ post.author }}</div>
      {{ post.excerpt }}
      {% if site.environment == "production" %}
        <a href="{{ site.base_path }}{{ post.url }}" class="read-more">Read more</a>
      {% else %}
        <a href="{{ post.url }}" class="read-more">Read more</a>
      {% endif %}
    </div>
  </div>
{% endfor %}

<div class="post-container">
  <div class="about-post">
    <p>Nothing to see here yet, but stay tuned for development builds of our upcoming games!</p>
  </div>

</div>
