---
layout: default
title: Team
---

<div class="team-member-container">
  {% for author in site.authors %}
    <div class="post-container">
      <div class="team-member">

        <figure>
          <img src="{{ author.image }}" alt="Image of {{ author.name }}">
          <figcaption>

            {% if site.environment == "production" %}
              <a href="{{ site.base_path }}{{ author.url }}">{{ author.name }}</a>
            {% else %}
              <a href="{{ author.url }}">{{ author.name }}</a>
            {% endif %}

            {{ author.position }}

            {% if author.email %}
              <a href= "mailto: {{ author.email }}">{{ author.email }}</a>
            {% endif %}

            {% if author.resume %}
              <a href="{{ author.resume }}" download>Resume</a>
            {% endif %}
          </figcaption>
        </figure>

      </div>
    </div>
  {% endfor %}
</div>

<!--- TODO make this less linear --->
