---
layout: default
---

<div class="post-container sidebar-container">
  <div class="team-member">
    <figure>
      {% if site.environment == "production" %}
        <img src="{{ site.base_path }}/{{ page.image }}" alt="Image of {{ page.name }}">
      {% else %}
        <img src="/{{ page.image }}" alt="Image of {{ page.name }}">
      {% endif %}
      <figcaption>

        <h2>{{ page.name }}</h2>
        <h3>{{ page.position }}</h3>

        {% if page.email %}
          <a href= "mailto: {{ page.email }}">{{ page.email }}</a>
        {% endif %}

        {% if page.resume %}
          <a href="/{{ page.resume }}" download>Resume</a>
        {% endif %}

        <p>{{ content | markdownify }}</p>
      </figcaption>
    </figure>

  </div>
</div>

<div class="author-posts">
  {% assign filtered_posts = site.posts | where: "author", page.name %}
  {% for post in filtered_posts %}
    <div class="post-container">
      <div class="post">
        <h2 class="post-title">{{ post.title }}</h2>
        <div class="post-date">{{ post.date | date_to_string }}</div>
        <div class="post-author">{{ post.author }}</div>
        {{ post.excerpt }}
        {% if site.environment == "production" %}
          <a href="{{ site.base_path }}{{ post.url }}" class="read-more">Read more</a>
        {% else %}
          <a href="{{ post.url }}" class="read-more">Read more</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
